---
---
$section-headings-color: #0086b3;


$body-link-color: #7EA7D3;
$blockquote-text-color: #819198;

$code-text-color: #494D4E;
@import "{{site.theme}}";
$code-text-color: #494D4E;
$section-headings-color: #0086b3;
$header-bg-color: #FFFFFF;
$header-bg-color-secondary: #7EA7D3;

$body-link-color: #7EA7D3;
$blockquote-text-color: #819198;
.page-header { color: #FFFFFF; text-align: center; 
  background-image:url('https://raw.githack.com/uwescience/sat-image-analysis/master/assets/img/MichaelSatelliteImage.png');
  background-repeat: no-repeat;
  background-size: cover;}
