---
---
$section-headings-color: #0086b3;
$header-bg-color: #1e6bb8;
$header-bg-color-secondary: #7EA7D3;

$body-link-color: #7EA7D3;
$blockquote-text-color: #819198;

$code-text-color: #494D4E;
@import "{{site.theme}}";
$code-text-color: #494D4E;
$section-headings-color: #0086b3;
$header-bg-color: #1e6bb8;
$header-bg-color-secondary: #7EA7D3;

$body-link-color: #7EA7D3;
$blockquote-text-color: #819198;
.page-header { color: #fff; text-align: center; background-image:url('https://rawgit.com/sat-image-analysis/uwescience.github.io/master/assets/img/MichaelSatelliteImage.png'); }
